body{
  background-image: url(family-jogging-royalty-free-image-1595451217.jpg);
  height: auto;
  background-repeat: no-repeat;
  background-size:cover;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  background-color: coral;
  box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
    position: sticky;
}

.topnav {
  margin-right: auto;
  margin-left: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.topnav a {
  text-decoration: none;
  padding: 20px;
  color: white;
  transition: ease-in-out .2s;
}

.topnav a.active{
  background-color: rgb(240, 118, 74);
  font-weight: bolder;
}

.topnav a:hover {
  background-color: rgb(240, 118, 74);
}

.main {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-gap: 75px;
  justify-items: stretch;
  align-items: start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;

  border-radius: 10px;
  width: 75%;

  text-align: center;
}
.main div{
  border-radius: 15px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: rgb(240, 118, 74);
  color: white;
}
/*
main h1 {
  background-color: rgb(243, 243, 243);
  border-radius: 10px 10px 0 0;
  padding: 12px;
}

main p {
  padding-right: 75px;
  padding-left: 75px;
  padding-bottom: 25px;
}
*/
main h1 {
  margin-top: 25px;
}

.buyNowBG{
  background-color: rgb(77, 201, 60);
  padding-bottom: 20px;
  padding-top: 20px;
}

.buyNowBG button {
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-weight: 500;

  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);;

  transition: .2s ease-in-out;
}

.buyNowBG button:hover {
  cursor: pointer;
  background-color: rgb(255, 227, 216);
}